[% SET homepage = file.homepage_file -%]
<h1>[% IF homepage.base_url == url.url %][% homepage.title |encode |html %][% ELSE %]<a href="[% homepage.base_url |html %]" rel="home">[% homepage.title |encode |html %]</a>[% END %]</h1>
